---
layout: default
---

<div class="home">
  <h1 class="page-heading">{{ page.title | default: "What I've played..." }}</h1>

  {{ content }}

    <ul class="post-list">
      {%- for post in site.posts limit:8 -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <a href="{{ site.baseurl }}/all-posts">More games...</a>
    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

</div>
